body{
  padding:25px;
  font-family:helvetica,sans-serif;
  color:grey;
  background-image: url("back.jpg");
  }

  img{
    width: 30%;
    height: auto;
  }

img:hover{
  -webkit-transform: rotate(0) scale(1);
   transform: rotate(0) scale(1);
}

  .pure-g{
    border:1px
    solid orange;
    margin-bottom:25px
  }.pure-u-1{
    box-sizing:border-box;
    border:1px solid orange;
    padding:25px;
    text-align:center
    }

    h1{
      font-size:2em;
      font-weight:900
      }

      h2{
        font-size:1.1em;
        font-weight:900;
        margin-bottom:25px
        }

        p{
          margin-bottom:25px;
          text-align:left;
          line-height:1.6em
}

ul{
  text-decoration:none;
  background-color: white;
  padding:em;
  margin: em;
  line-height: 130%;

  }

  @media (max-width:48em){li a{color:red}li{display:inline;margin-right:10px}}
